<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="chmonDialog">
		<title>CHMon</title>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<rows>3</rows>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="m_lblMain" member="yes">
					<label>Changes Monitor Application:</label>
					<size>469,13</size>
					<style>wxALIGN_LEFT</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON2" variable="m_btnSelectFile" member="yes">
					<label>Select File:</label>
					<handler function="Onm_btnSelectFileClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_txtAll" member="yes">
					<size>437,435</size>
					<font>
						<sysfont>wxSYS_OEM_FIXED_FONT</sysfont>
					</font>
					<style>wxTE_MULTILINE|wxTE_READONLY</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
					<label>Quit</label>
					<handler function="OnQuit" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="m_lblTime" member="yes">
					<label>...</label>
					<size>395,13</size>
					<style>wxALIGN_CENTRE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON3" variable="m_btnAbout" member="yes">
					<label>About...</label>
					<handler function="Onm_btnAboutClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="m_dlgFileOpen" member="yes">
			<message>Select file</message>
			<style>wxFD_DEFAULT_STYLE|wxFD_OPEN</style>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="m_tmMain" member="yes">
			<interval>10</interval>
			<handler function="Onm_tmMainTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
